/* Wide styles */
body {
    font-family: 'Open Sans', Arial, sans-serif;
    background: #fafafa;
    font-weight: 300;
    margin: 0;
    padding: 0;
}
p {
  padding-bottom: 30px;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100% !important;
    height: auto;
}
.btn, .btn-lg, .input-lg {
    border-radius: 3px;
}
.form-control {
    border-radius: 3px;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 0;
}
.input-lg {
    height: 50px;
}
.btn-lg, .btn-group-lg>.btn {
    padding: 10px 28px;
    height: 52px;
}
.btn-large {
    font-size: 18px;
    padding: 20px 50px;
    margin: 5px 10px;
}
.btn-success {
    background-color: rgba(108, 199, 108, 1.0);
    background-image: none;
    border: 0;
    line-height: 1.8;
}
.btn-success:hover, .btn-success:focus, .btn-success:active {
    background-color: rgba(94, 182, 94, 1.0);
    color: #fff;
    border: 0;
}

/* Specific styles */
.container.landing-page {
    position: relative;
    padding: 100px 15px;
    text-align: center;
}
.container.article-page {
    padding: 20px 15px 50px;
    background-color: #fff;
    color: rgba(0,0,0,0.8);
    font-family: 'Lora', serif;
    letter-spacing: 0.01rem;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
    line-height: 1.5;
}
.article {
  padding-top: 30px;
}
tr td:first-child {
  width: 15%;
}
tr td:last-child {
  max-width: 700px;
}